h1 {
  background-image:url(../images/noir-film-pic.jpg);
  height: 450px;
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  color: white;
  line-height: 450px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #000;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  word-spacing: 20px;
  font-size: 20px;
}

a:hover {
  color: lightgrey;
}

a {
  color: black;
  text-decoration: none;
}
.date {
  margin-left: 10%;
  line-height: 5px;
}

.name {
  color: darkred;
}

.entries {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 200px;
}
.name {
  font-size: 25px
}

img {
  width: 500px;
}

.aboutp {
  margin-left: 10%;
  margin-right:10%;
  text-indent: 10px;
}

.firstcharacter {
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  float: left;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  h1{
    font-size: 60px;
    height: 400px;
    line-height: 400px;
  }

  h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .title {
    font-size: 40px;
    height: 300px;
    line-height: 350px;
  }

  h2 {
    font-size: 13px;
  }
}
